<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'seller.clientVisit.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="clientVisitForm" (ngSubmit)="onSubmit()">

    <ion-list class="ion-margin-bottom">
      <ion-item lines="none" class="ion-margin-bottom">
        <ion-label position="stacked"><strong>{{ 'seller.clientVisit.visitDateTimeLabel' | translate }}</strong>
        </ion-label>
        <ion-datetime-button datetime="datetime" color="secondary"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" [locale]="'common.language' | translate" formControlName="visit_datetime"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item lines="none" class="ion-margin-bottom">
        <ion-label position="stacked"><strong>{{ 'seller.clientVisit.durationLabel' | translate }}</strong></ion-label>
        <ion-input
          [placeholder]="'seller.clientVisit.durationPlaceholder' | translate"
          type="number"
          formControlName="duration_minutes"
          error-text="Please enter a time in minutes"
          required=true
        ></ion-input>
      </ion-item>


      <ion-item lines="none" class="ion-margin-bottom">
        <ion-label position="stacked"><strong>{{ 'seller.clientVisit.observationsLabel' | translate }}</strong>
        </ion-label>
        <ion-input
          [placeholder]="'seller.clientVisit.observationsPlaceholder' | translate"
          formControlName="observations"
          error-text="Please observations is required"
          required=true
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="ion-margin-bottom">
        <ion-label position="stacked"><strong>{{ 'seller.clientVisit.clientIdLabel' | translate }}</strong></ion-label>
        <ion-input
          [placeholder]="'seller.clientVisit.clientIdPlaceholder' | translate"
          formControlName="client_id"
          error-text="Please email is required"
          required=true
        ></ion-input>
      </ion-item>


      <div class="resultados-container">
        <ion-label class="resultados-title"><strong>{{ 'seller.clientVisit.resultsTitle' | translate }}</strong>
        </ion-label>
        <div class="botones-resultados">
          <ion-button [fill]="buttonState['interested'] ? 'solid' : 'outline'" color="primary"
                      (click)="setResult(VisitResult.INTERESTED)">{{ 'seller.clientVisit.interestedButton' | translate }}
          </ion-button>
          <ion-button [fill]="buttonState['not_interested'] ? 'solid' : 'outline'" color="primary"
                      (click)="setResult(VisitResult.NOT_INTERESTED)">{{ 'seller.clientVisit.notInterestedButton' | translate }}
          </ion-button>
          <ion-button [fill]="buttonState['follow_up'] ? 'solid' : 'outline'" color="primary"
                      (click)="setResult(VisitResult.FOLLOW_UP)">{{ 'seller.clientVisit.followUpButton' | translate }}
          </ion-button>
        </div>
      </div>
    </ion-list>

    <ion-button type="submit" expand="block" [disabled]="!clientVisitForm.valid || isSubmitting" id="client-visit-submit">
        {{ isSubmitting ? ('seller.clientVisit.syncingButton' | translate )  : ('seller.clientVisit.syncButton' | translate ) }}
    </ion-button>


  </form>
</ion-content>

