<ion-header>
    <ion-toolbar color="primary">
      <ion-title class="title">CCP STORE CLIENTES</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="content-container">
      <div class="logo-container">
        <img src="assets/login-image.jpg" alt="Logo CCP Store" />
      </div>
  
      <div class="button-container">
        <ion-button expand="block">Crear Pedido</ion-button>
        <ion-button expand="block">Mis Pedidos</ion-button>
        <ion-button expand="block">Estado de Pedidos</ion-button>
        <ion-button expand="block">Entregas Programadas</ion-button>
      </div>
    </div>
</ion-content>
  