<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title">{{ 'seller.home.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-container">
    <div class="logo-container">
      <img src="assets/login-image.jpg" alt="Logo CCP Store" />
    </div>

    <div class="button-container">
      <!-- <ion-button expand="block">{{ 'seller.home.createOrder' | translate }}</ion-button> -->
      <ion-button expand="block" [routerLink]="['/assigned-clients']">{{ 'seller.home.assignedClients' | translate }}</ion-button>
      <ion-button expand="block" [routerLink]="['/client-visit']" routerLinkActive="router-link-active">{{ 'seller.home.clientVisit' | translate }}</ion-button>
      <ion-button expand="block" [routerLink]="['/daily-routes']" >{{ 'seller.home.dailyRoute' | translate }}</ion-button>
      <!-- <ion-button expand="block">{{ 'seller.home.videoProcessing' | translate }}</ion-button> -->
      <ion-button expand="block" [routerLink]="['/recommendations']">{{ 'seller.home.recommendations' | translate }}</ion-button>
      <ion-button expand="block" [routerLink]="['/seller-client-assignment']">{{ 'seller.home.clientAssignmentTitle' | translate }}</ion-button>
    </div>
  </div>
</ion-content>


