<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <!-- Información del cliente -->
  <ion-list lines="none">
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/login-image.jpg" alt="Cliente" />
      </ion-avatar>
      <ion-label>
        <h3 class="client-name">{{ user_email }}</h3>
        <p class="client-last">Última Compra: {{ last_buy }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Lista de pedidos -->
  <ion-list lines="none">
    <ion-item *ngFor="let order of orders">
      <ion-label (click)="saveOrderId(order.id)" style="cursor:pointer;" [routerLink]="['/tracking']" routerLinkActive="router-link-active" >
        <h3 class="order-number">Order #{{ order.id.split('-')[0] }}</h3>
        <p class="order-status">{{ order.state }}</p>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>
